@page "/produtos"
@inject ProdutosViewModel VM
@using FrontTcc_Luiz.ViewModels
@using FrontTcc_Luiz.Services
@inject ProdutosViewModel VM

<h3>Lista de Produtos</h3>

@if (VM.Produtos.Count == 0)
{
    <p>Carregando...</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Estoque</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in VM.Produtos)
            {
                <tr>
                    <td>@p.Nome</td>
                    <td>@p.Categoria</td>
                    <td>@p.Descricao</td>
                    <td>@p.Preco</td>
                    <td>@p.Estoque</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    protected override void OnInitialized()
    {
        VM.CarregarProdutos();
    }
}
